/* Movie poster */
.moviePic {
  height: 350px;
  width: 250px;
  opacity: 0.9;
  display: block;
  margin: 40px auto 0; 
}

/* Movie description */
.movieDetail {
  position: relative;
  top: 20px;         
  width: 60%;        
  margin: 0 auto;    
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}


body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #f5f5f5;
}

.movie-container {
  text-align: center;
  padding: 20px;
}
